In [1]:
from modules import transfer_entropy as TE
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data/Times_series_sa_det.csv")
lista = ["Atlanta-Sandy Springs-Alpharetta, GA MSA",
    "Baltimore-Columbia-Towson, MD MSA",
    "Boston-Cambridge-Newton, MA-NH MSA",
    "Chicago-Naperville-Elgin, IL-IN-WI MSA",
    "Dallas-Fort Worth-Arlington, TX MSA",
    "Denver-Aurora-Lakewood, CO MSA",
    "Detroit–Warren–Dearborn, MI MSA",
    "Houston-The Woodlands-Sugar Land, TX MSA",
    "Los Angeles-Long Beach-Anaheim, CA MSA",
    "Miami-Fort Lauderdale-West Palm Beach, FL MSA",
    "Minneapolis-St. Paul-Bloomington, MN-WI MSA",
    "New York-Newark-Jersey City, NY-NJ-PA MSA",
    "Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA",
    "Phoenix-Mesa-Chandler, AZ MSA",
    "Riverside-San Bernardino-Ontario, CA MSA",
    "San Francisco-Oakland-Berkeley, CA MSA",
    "Tampa-St. Petersburg-Clearwater, FL MSA",
    "Washington-Arlington-Alexandria, DC-VA-MD-WV MSA"]

In [3]:
outdf = pd.DataFrame(columns = ["ll", "lm", "lh","ml", "mm", "mh","hl", "hm", "hh"])
for l in lista:
    NT = TE.Median_Symbolise_3bins(df["Tweet search - "+l+"_sentNumber_Negative_sa_det"])
    PB = TE.Median_Symbolise_3bins(df["Police_Brutality_lagged_sa_det"])
    outdf.loc[len(outdf.index)] = [x for x in np.round(np.array(TE.Direction([NT,PB,NT,NT],1,0)),decimals = 4).flatten()] 
outdf["City"] = lista

In [4]:
display(outdf)

,ll,lm,lh,ml,mm,mh,hl,hm,hh,City
0,0.5184,0.2780,0.2035,0.2572,0.3790,0.3638,0.2252,0.3421,0.4327,"Atlanta-Sandy Springs-Alpharetta, GA MSA"
1,0.4439,0.3085,0.2476,0.2941,0.3526,0.3534,0.2620,0.3389,0.3990,"Baltimore-Columbia-Towson, MD MSA"
2,0.4736,0.3013,0.2252,0.2877,0.3574,0.3550,0.2396,0.3413,0.4191,"Boston-Cambridge-Newton, MA-NH MSA"
3,0.4976,0.3085,0.1939,0.2756,0.3574,0.3670,0.2276,0.3341,0.4383,"Chicago-Naperville-Elgin, IL-IN-WI MSA"
4,0.5425,0.2548,0.2027,0.2492,0.4046,0.3462,0.2091,0.3397,0.4511,"Dallas-Fort Worth-Arlington, TX MSA"
5,0.5040,0.2869,0.2091,0.2588,0.3726,0.3686,0.2380,0.3397,0.4223,"Denver-Aurora-Lakewood, CO MSA"
6,0.4639,0.3125,0.2236,0.2885,0.3510,0.3606,0.2484,0.3357,0.4159,"Detroit–Warren–Dearborn, MI MSA"
7,0.4688,0.3109,0.2204,0.2917,0.3309,0.3774,0.2396,0.3582,0.4022,"Houston-The Woodlands-Sugar Land, TX MSA"
8,0.5545,0.2476,0.1979,0.2412,0.3934,0.3654,0.2051,0.3582,0.4367,"Los Angeles-Long Beach-Anaheim, CA MSA"
9,0.5393,0.2644,0.1963,0.2412,0.3950,0.3638,0.2204,0.3405,0.4391,"Miami-Fort Lauderdale-West Palm Beach, FL MSA"
10,0.5377,0.2484,0.2139,0.2484,0.4143,0.3373,0.2147,0.3365,0.4487,"Minneapolis-St. Paul-Bloomington, MN-WI MSA"
11,0.5617,0.2652,0.1731,0.2572,0.3830,0.3598,0.1819,0.3510,0.4671,"New York-Newark-Jersey City, NY-NJ-PA MSA"
12,0.5136,0.2853,0.2011,0.2596,0.3822,0.3582,0.2276,0.3325,0.4399,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA"
13,0.5337,0.2628,0.2035,0.2540,0.3838,0.3622,0.2131,0.3534,0.4335,"Phoenix-Mesa-Chandler, AZ MSA"
14,0.4976,0.2909,0.2115,0.2708,0.3558,0.3734,0.2324,0.3534,0.4143,"Riverside-San Bernardino-Ontario, CA MSA"
15,0.4880,0.2909,0.2212,0.2796,0.3654,0.3550,0.2332,0.3438,0.4231,"San Francisco-Oakland-Berkeley, CA MSA"
16,0.5088,0.2829,0.2083,0.2748,0.3750,0.3502,0.2171,0.3421,0.4407,"Tampa-St. Petersburg-Clearwater, FL MSA"
17,0.5240,0.2812,0.1947,0.2612,0.3790,0.3598,0.2155,0.3389,0.4455,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA"